// bower:scss
@import "bower_components/normalize-scss/_normalize.scss";
@import "bower_components/susy/sass/_susy.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

@import "default/_variables.scss";


$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);


@import "default/_grid.scss";
@import "default/_background.scss";
@import "default/_horizontal.scss";
@import "default/_navigationbar.scss";
@import "default/_test.scss";
@import "default/_demo.scss";
@import "default/_form.scss";
@import "default/_game.scss";
@import "default/_angkringan.scss";
@import "default/_booking.scss";