.wrapper-bg-top{
    .tablet{
        h1{
            margin-left: 250px;
            color: black;
        }
        p{
            color: white;
            background-color: rgba(255,255,255,0.25) ;
            border-radius: 5px ;
            margin-left: 250px;
            margin-right: 10px;
            padding: 15px;
        }
    }

    .desktop{
        h1{
            color: white;
            margin-left: 20px;
        }
        p{
            color: white;
            background-color: rgba(255,255,255,0.10) ;
            border-radius: 5px ;
            font-size: 20px;
            padding: 20px;
            margin: 10px;
        }
    }

    .mobile{
        h1{
            color: white;
            margin-left: 10px;
            margin-top: 750px;
        }
        p{  
            color: white;
            background-color: rgba(255,255,255,0.20) ;
            border-radius: 5px ;
            font-size: 13px;
            padding: 5px;
            margin: 5px;
        }
    }

    @include span(12 nest);
        min-height:100vh;
        background-image: url(/images/spotdive3.jpg);  
        background-size: auto 100%;
        background-position: -120px -150px;
        .tablet{
            display: none;
        }
        .desktop{
            display: none;
        }
        .mobile{
            display: block;
        }
        
    
    @include susy-breakpoint($tablet-size){
        background-size: auto 100% ;
        background-position: -250px ; 
        background-image: url(/images/divespot2.jpg);  
        .tablet{
            display: block;
        }
        .desktop{
            display: none;
        }
        .mobile{
            display: none;
        }
    }
    @include susy-breakpoint($desktop-size){
        background-size: 100%  auto ;
        background-position: top;
        background-image: url(/images/divespot1.jpg);  
        .tablet{
            display: none;
        }
        .desktop{
            display: block;
        }
        .mobile{
            display: none;
        }
    }
} 