.header_demo{
	display: block;
	position: fixed; 
	background-color: white;
	border-bottom: 2px solid #EBEBEB;
	width: 100%;
	.header_center_demo{
		display: block;
		margin-left: 10%;
		margin-right: 10%;
		transition: all 0.5s;
		.header_navigation_demo{
			@include span(12);
			display: block;/* 
			background-color: red; */
			ul{
				@include span(12);
				float: left;
				list-style-type: none;
				margin: 0px 0px;
				height: 55px;
				padding: 0;/* 
				background-color: yellow; */
				li{
					position: relative;
		            display: inline-block;
					list-style-type: none;
		            padding: 18px;
		            font-size: 17px;
		            /* background-color: blue; */
					a{
						color: black;
			           	text-decoration: none; 
			           	font-size: 16px;
			           	font-weight: bold;
			           	font: Liberation Sans Narrow;
			           	padding: 19px 30px; /*  atas.bawah  , kanan.kiri*/
			           
					}
					&:hover{
						background-color: #EEEEEE ;
					}
				}
			}
		}
	}
}


#html{

}

#css{

}

#java{

}


#header_content_footer{

}

#heading{

}

#margin_padding{

}

#breakpoint{

}

#container{

}

#class{

}

#id{

}

#list{

}

#position{
	
}