#output{
	/* background-color: red; */
	display: block;
}

a{
	text-decoration: none;
	/* width: 300px;
	background-color: red;
	padding: 5px;
	border-radius: 5px 5px 5px 5px; */
}

.error-message{
	color: red;
}