.input_game{
	@include span(6 nest);
	background-color: #BAF25A;
	height: 800px;
	.tombol{
		@include span(3);
		height: 200px;
		background-color: #F5F10C;
		margin: 200px 40px 0px 40px;
		cursor: pointer;
		-webkit-border-radius: 8px;
	    -moz-border-radius: 8px;
	    /* border: 3px solid black; */
	    border-radius: 10px;
	    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
	    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
	    box-shadow: 0px 9px 0px rgba(0,0,0,0), 0px 9px 25px rgba(0,0,0,.7);
	}
}
.layar_game{
	@include span(6 nest);
	.tampil{
		@include span(12);
		background-color: #E8FFDE;
		height: 750px;
		overflow: scroll;
	}
	.hitung{
		@include span(12);
		float: right;
		background-color: blue;
		height: 50px;
	}
	
}
.output_game{
	@include span(12);
	background-color: pink;
	height: 300px;
}
.mangga{
	float: left;
	background-image:url(/images/mango.png);
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	margin: 5px;
}
.jeruk{
	float: left;
	background-image:url(/images/orange.png);
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	margin: 5px;
}
.apel{
	float: left;
	background-image:url(/images/apple.png);
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
	margin: 5px;
}