.fluid-container{
    @include container;
    background: #474747 ;
    height:50px;
}

.container{
    @include container(1140px);

}
.header{
    @include container(1140px);
    background: #4F81C9;
    height:150px;
    color: #F0F5F5;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    .nav{
        @include container(1140px);
        background: #474747 ;
        a{
            text-decoration: none;
            background: white;
            color:black;
            display:inline-block;
        }
    }
}
.content{
    @include container(1140px);
    /* background: #e8e8e8 ; */
    height:100vh;
    .row{
        @include span(12 nest);
        background: #aaa9a9 ;
        .col-2{
            @include span(2)
            border:1px solid black;
        }
        .col-3{
            @include span(3);
            border:1px solid black;
        }
        .col-6{
            @include span(6)
            border:1px solid black;
        }
        .col-9{
            @include span(9)
            border:1px solid black;
        }
        .col-10{
            @include span(10)
            border:1px solid black;
        }
    }
    .row2{
        @include span(12 nest);
        background: white ;
        height: 120px;
        .col-1{
            @include span(2)
            img{
                height: 100px;
            }
        }
        .col-11{
            @include span(10)
            height: 86px;
            .nama{
                padding: 10px 0px 10px 0px;
               /*  background: white; */
            }
            .ttl{
                padding: 10px 0px 10px 0px;
                /* background:#e5e5e5 ; */
            }
            .alamat{
                padding: 10px 0px 10px 0px;
                /* background: #cecece ; */
            }
        }
    }
    .showreel-li{
        background: white;
        @include span(12);
        padding: 0;
        ul{
            padding: 0;
        }
        li{
            @include span(4);         
            list-style-type: none;
            height: 300px;
            border: 1px solid black;
        }
    }

}

.footer{
    @include container(1140px);
}




