.field{
	ol{
		@include span(12);
	}
	li{
		@include span(5.8);
		margin-left: span(0.1);
		margin-bottom: span(0.1);
		list-style-type: none;
		height: 150px;
		text-align: center;
		padding-top: 30px;
		color: white;
		background-color: black;
		border-radius: 10px;
	}

	@include susy-breakpoint($tablet-size){
		height: 650px;
 		ol{
			@include span(12);
		}
		li{
			@include span(2.9);
			margin-left: span(0.1);
			margin-bottom: span(0.1);
			list-style-type: none;
			height: 150px;
			text-align: center;
			padding-top: 30px;
			color: white;
			background-color: black;
			border-radius: 15px;
		}
 	}

	@include susy-breakpoint($desktop-size){
		height: 500px;
		ol{
			@include span(12);

		}
		li{
			@include span(1.9);/* 
			margin-left: span(0.1);
			margin-bottom: span(0.1); */
			list-style-type: none;
			height: 150px;
			text-align: center;
			padding-top: 30px;
			color: white;
			background-color: black;
			border-radius: 10px;
		}
	}
}

	#field1{
	}

	#field2{
	}
	
	#field3{
	}

	#field4{
	}

	#field5{
	}

	#field6{
	}

	#field7{
	}

	#field8{
	}
	
	#field9{
	}

	#field10{
	}

	#field11{
	}

	#field12{
	}


.trash_target{
	text-align: center;
	color: black;
	margin-bottom: 50px;
}

.center{
		margin-left: 25%;
		margin-right: 25%;/* 
		background-color: red;
		height: 100px;  */
	.kolom{
		@include span(11.8);
			margin: span(0.05);
			height: 200px;
			text-align: center;
			padding-top: 50px;
			color: white;
			background-color: black;
		@include susy-breakpoint($tablet-size){
			@include span(5.9);
				margin: span(0.05);
				height: 200px;
				text-align: center;
				padding-top: 50px;
				color: white;
				background-color: black;
 		}
 		@include susy-breakpoint($desktop-size){
			@include span(3.9);
				margin: span(0.05);
				height: 200px;
				text-align: center;
				padding-top: 50px;
				color: white;
				background-color: black;
 		}
 		a{
 			color: white;
 			&:hover{
	 			color: red;	
	    	}
 		}
	}
}

 


