.headernavbar{
	position: fixed;
	background-color: black;
	width: 100%;
	.brand{
		@include span(12);
		float: left;
		color: white;
		text-align: center;
	}
	.trigger{
		@include span(12);
		float: left;
		color: white;
		text-align: center;
		padding-top: 30px;
		cursor: pointer;
		a{
			color: white;
		}
		#trigger{
		}
	}
	.trigger2{
		@include span(12);
		float: left;
		color: white;
		text-align: center;
		padding-top: 30px;
		cursor: pointer;
		display: none;
		a{
			color: white;
		}
		#trigger2{
		}
	}
	.navigation{
		@include span(12);
		display: none;
		float: right;
		ul{
			list-style-type: none;
			padding: 0px;
			li{
				text-align: center;
				padding: 10px;
				a{
					color: white;
            		text-decoration: none; 
					&:hover{
						color: red;
					}
				}
			}
		}
	}
	@include susy-breakpoint($desktop-size){
		background-color: white;
		width: 100%;
		position: fixed;
		.brand{
			@include span(6);
			float: left;
			color: black;
			text-align: left;
		}
		.trigger{
			display: none;
			#trigger{
			}
		}
		.trigger2{
			display: none;
			#trigger2{
			}
		}
		.navigation{
			@include span(6);
			display: block;
			float: right;
			ul{
				float: right;
				list-style-type: none;
				li{
					float: left;
					a{
						color: black;
						padding: 10px;
	            		text-decoration: none; 
						&:hover{
							color: red;
						}
					}
				}
			}
		}
 	}
}

.contentnavbar{
	height: 2000px;
	background-color: white;
	padding-top: 80px;
}



