.flymenu{
	@include span(12);
	display: none;
	position: fixed;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.9);
	.close{
		@include span(1);
		padding-left: 20px;
		padding-top: 10px;
		display: none;
		color: white;
		cursor: pointer;
		#close{
		}
	}
	.header_gambar{
		@include span(11);
		padding-left: 39%;
		img{
			width: 50px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
	ul{
		@include span(10);
		float: left;
		list-style-type: none;
		margin-left: 8%;
		padding-top: 300px; /* 
		background-color: red; */
		li{
			@include span(12);
			list-style-type: none;
			padding: 15px;
			font-size: 20px;
			font: Liberation Sans Narrow;/* 
			background-color: yellow; */
			color: white;
			text-align: center;
			border-bottom: 1px solid white;
			cursor: pointer;
		}
	}
}

.header_test{
	display: block;
	position: fixed; 
	background-color: white;
	border-bottom: 2px solid #EBEBEB;
	width: 100%;
	.header_center{
		margin-left: 3%;
		margin-right: 3%;
		transition: all 0.5s;
		.header_contain{
			@include span(1);
			padding-top: 10px;
			padding-bottom: 10px;
			/* background-color: yellow;  */
			.name_logo{
				display: none;
			}
			.list{
				display: block;
				cursor: pointer;
				#list{
				}
			}
		}
		.header_kangaroo{
			@include span(11);
			display: block;
			padding-left: 30%;
			/* background-color: blue; */
			img{
				width: 50px;
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
		.header_navigation{
			display: none;
		}
	}
	@include susy-breakpoint($tablet-size){
		.header_center{
			margin-left: 3%;
			margin-right: 3%;
			transition: all 0.5s;
			.header_contain{
				@include span(1);
				padding-top: 10px;
				padding-bottom: 10px;
				/* background-color: red; */
				.name_logo{
					display: none;
				}
				.list{
					display: block;
					pointer: cursor;
					#list{
					}
				}
			}
			.header_kangaroo{
				@include span(11);
				display: block;
				padding-left: 39%;
				img{
					width: 50px;
					padding-top: 10px;
					padding-bottom: 10px;
				}
			}
			.header_navigation{
				display: none;
			}
		}
	}
	@include susy-breakpoint($desktop-size1){
		.header_center{
			display: block;
			margin-left: 10%;
			margin-right: 10%;
			transition: all 0.5s;
			.header_contain{
				@include span(3);
				padding-top: 10px;
				padding-bottom: 10px;/* 
				background-color: yellow;  */
				.list{
					display: none;
				}
				.name_logo{
					display: block;
					font: Liberation Sans Narrow;
					letter-spacing: -2px;
					font-size: 30px;
				}
			}
			.header_kangaroo{
				display: none;
			}
			.header_navigation{
				@include span(9);
				display: block;/* 
				background-color: red; */
				ul{
					@include span(12);
					float: left;
					list-style-type: none;
					margin: 0px 0px;
					height: 55px;
					padding: 0;/* 
					background-color: yellow; */
					li{
						position: relative;
			            display: inline-block;
						list-style-type: none;
			            padding: 18px;
			            font-size: 17px;
			            /* background-color: blue; */
						a{
							color: black;
				           	text-decoration: none; 
				           	font-size: 16px;
				           	font-weight: bold;
				           	font: Liberation Sans Narrow;
				           	padding: 19px 30px; /*  atas.bawah  , kanan.kiri*/
				           
						}
						&:hover{
							background-color: #EEEEEE ;
							.first{
								display: block;
							}
						}
						.first{
			            	display: none;
			            	list-style-type: none;
							top: 55px; 
							left: 0px;
							width: 400px;
							position: absolute; 
							/* background-color: red; */
							li{
					            position: relative;
					            width: 400px;
					            background-color: rgba(0, 0, 0, 0.7);
					            color: white;
					            font-size: 20px;
					            padding: 20px;
					            cursor: pointer;
					            font: Liberation Sans Narrow;
					            i{
					            	position: absolute;
					            	right: 10px;
					            	#search{
					            	}
					            }
								&:hover{
									color: white;
									background-color: black ;
									.second{
										display: block;
									}
								}
								.second{
									display: none;
					            	list-style-type: none;
									left: 440px;
									top: 0px;
									width: 300px;
									position: absolute; 
									li{
							            position: relative;
							            width: 300px;
							            background-color: rgba(0, 0, 0, 0.7);
							            color: white;
							            font-size: 20px;
							            padding: 20px;
							            cursor: pointer;
							            font: Liberation Sans Narrow;
										&:hover{
											color: white;
											background-color: black ;
										}
									}
								}
							}
			            }
					}
				}
			}
		}
	}
}

.contain_test{
	width: 100%;
	background-color: #FFFFFF;
	.contain_center{
		margin-left: 3%;
		margin-right: 3%;
		transition: all 0.5s;
		.contain_judul{
			padding-top: 100px;
			text-align: center;
			padding-bottom: 50px;
			font-weight: bold;
			font-size: 20px;
			font: Liberation Sans Narrow;
				            	
		}
		.contain_isi{
			@include span(6);
			padding-top: 10px;
			padding-bottom: 10px;
			.tanggal{
				font: Liberation Sans Narrow;
				letter-spacing: 2px;
				font-size: 12px;
				color: black;
				text-align: center;
				padding-bottom: 30px;
			}
			img{
				width: 100%;

			}
			.judul{
				font: Liberation Sans Narrow;
				letter-spacing: 0px;
				font-size: 12px;
				margin: auto;
				text-align: center;
				padding-top: 20px;
			}
			.isi{
				display: none;
			}
		}
	}
}
	@include susy-breakpoint($tablet-size){
		.contain_test{
			width: 100%;
			background-color: #FFFFFF;
			.contain_center{
				margin-left: 3%;
				margin-right: 3%;
				transition: all 0.5s;
				.contain_judul{
					padding-top: 150px;
					text-align: center;
					padding-bottom: 100px;
					font-weight: bold;
					font-size: 35px;
					font: Liberation Sans Narrow;
					            	
				}
				.contain_isi{
					@include span(6);
					padding-top: 10px;
					padding-bottom: 10px;
					.tanggal{
						font: Liberation Sans Narrow;
						letter-spacing: 2px;
						font-size: 18px;
						color: black;
						text-align: center;
						padding-bottom: 30px;
					}
					img{
						width: 100%;

					}
					.judul{
						font: Liberation Sans Narrow;
						letter-spacing: -2px;
						font-size: 30px;
						margin: auto;
						text-align: center;
						padding-top: 20px;
					}
					.isi{
						display: block;
						padding-top: 20px;
						font: Liberation Sans Narrow;
						letter-spacing: 4px;
						font-size: 18px;
					}
				}
			}
		}
	}
	@include susy-breakpoint($desktop-size1){
		.contain_test{
			width: 100%;
			background-color: #FFFFFF;
			.contain_center{
				margin-left: 10%;
				margin-right: 10%;
				transition: all 0.5s;
				.contain_judul{
					padding-top: 150px;
					text-align: center;
					padding-bottom: 100px;
					font-weight: bold;
					font-size: 35px;
					font: Liberation Sans Narrow;
					            	
				}
				.contain_isi{
					@include span(4);
					padding-top: 10px;
					padding-bottom: 10px;
					.tanggal{
						font: Liberation Sans Narrow;
						letter-spacing: 2px;
						font-size: 18px;
						color: black;
						text-align: center;
						padding-bottom: 30px;
					}
					img{
						width: 100%;
					}
					.judul{
						font: Liberation Sans Narrow;
						letter-spacing: -2px;
						font-size: 30px;
						margin: auto;
						text-align: center;
						padding-top: 20px;
					}
					.isi{
						display: block;
						padding-top: 20px;
						font: Liberation Sans Narrow;
						letter-spacing: 4px;
						font-size: 18px;
					}
				}
			}
		}
	}

.footer_test{
	width: 100%;
}
